<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FoodFy</title>

    <!-- PADRAO -->
    <link rel="stylesheet" href="/style.css">

    <!-- FONTE -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">

  </head>

  <body>

        <!-- INICIO HEADER -->
    <header>
      <div class="container">
        <div class="row">
          <div class="logo">
            <a href="/">
              <img class="img-fluid" src="/logo.png" alt="FoodFy">
            </a>
          </div><!-- /logo -->

          <div class="menu">
            <a href="/sobre">Sobre</a>
            <a href="/receitas">Receitas</a>
          </div><!-- /menu -->
        </div><!-- /row -->
      </div><!-- /container -->
    </header>
    <!-- FIM HEADER -->

    {%block section%}

    {%endblock%}

  </body>
</html>