{%extends 'layout.njk'%}

{%block section%}
    <!-- INICIO HEADER -->

  <img src={{recipe.image}} alt="receita">

  <h1>{{recipe.title}}</h1>
  <h2>{{recipe.author}}</h2>

  {%for ingredient in recipe.ingredients%}

    <h2>{{ingredient}}</h2>

  {%endfor%}


{%endblock%}