{%extends "layout.njk"%}

{%block content%}

        <div class="cursos">
            {%for curso in cursos%}
            <div class="curso" id={{curso.id}}>
                <h3 id={{curso.id}}>{{curso.number}}</h3>
                <img src={{curso.image}} alt="">
                <h2><b>{{curso.descriptionB}}</b>{{curso.description}}</h2>
            </div>
            {%endfor%}

        </div>

        <div class="modalCursos-overlay">
            <div class="modalCursos">
                <a class="close-modalCursos">
                    <i class="material-icons">close</i>
                </a>

                <div class="modalCursos-content">
                    <iframe src="" frameborder="0"></iframe>
                </div>
            </div>
        </div>

        <script src="cursos.js"></script>

{%endblock%}}